* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.header-img {
    background-image: url(images/headphones_hero_1.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    padding: 2rem;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.hamburger-icon,
.hamburger-toggle
{
    display: none;
}

.logo {
    height: 32px;
    width: 161px;
}

.nav-ul {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
    gap: 45px;
}

.nav-ul a {
    text-decoration: none;
    display: flex;
    justify-content: space-evenly;
    color: #FFFFFF;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 20%;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF;
}

.hero-title {
    width: 578px;
    height: 40px;
    margin-top: 1%;
    font-size: 32px;
    font-weight: bold;
}

.hero-subtitle {
    height: 20px;
    width: 355px;
    font-size: 16px;
    font-weight: bold;
}

.hero-info {
    max-width: 637px;
    margin-top: 7%;
    font-size: 16px;
    line-height: 2;
}

.hero-btn {
    height: 44px;
    width: 162px;
    background-color: #FF6565;
    color: #FFFFFF;
    border-radius: 22px;
    border: none;
    margin: 30px 0;
    font-size: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

/* wwd */

.what-we-do {
    text-align: center;
}

.what-we-do_main {
    height: 20vh;
    margin: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.what-we-do_main h1 {
    margin-top: 10px;
    font-size: 32px;
}

.what-we-do_main p {
    width: 50%;
    max-width: 650px;
    text-align: center;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 26px;
}

.what-we-do_icons {
    --column-num: 4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(207px, 1fr));
    gap: 2.75rem;
    justify-content: center;
    padding: 110px;
}

.what-we-do_icons i {
    font-size: 6rem;
    color: var(--clr-accent);
}

.what-we-do_icons h1 {
    font-size: var(--fs-500);
    font-weight: var(--fw-semibold);
    margin-block: 0.5rem 0.75rem;
}  

.what-we-do_icons p {
    font-size: var(--fs-300);
}

.results {
    background-image: url('images/headphones_hero_2.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #FFFFFF;
    max-width: 100%;
}

.results-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.results h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 3%;
    margin-top: 7%;
}

.results p {
    font-size: 16px;
    width: 600px;
    margin-bottom: 5%;
    line-height: 2;
}

.results-card {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto 5% auto;
}

.results-icon {
    position: relative;
    text-align: center;
    width: 23%;
}

.results-icon img {
    width: 100%;
    height: auto;
}

.results-icon h1,
.results-icon p {
    position: absolute;
    width: 100%;
}

.results-icon h1 {
    top: 26%;
    font-size: 46px;
    font-weight: bold;
}

.results-icon p {
    top: 62%;
    font-size: 14px;
}

/* glyph font thingy? */

@font-face {
    font-family: 'holberton_school-icon';
    src:  url('fonts/holberton_school-icon.eot?sq4eq4');
    src:  url('fonts/holberton_school-icon.eot?sq4eq4#iefix') format('embedded-opentype'),
      url('fonts/holberton_school-icon.ttf?sq4eq4') format('truetype'),
      url('fonts/holberton_school-icon.woff?sq4eq4') format('woff'),
      url('fonts/holberton_school-icon.svg?sq4eq4#holberton_school-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="holberton_school-icon-"], [class*=" holberton_school-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'holberton_school-icon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .holberton_school-icon-arrow_1:before {
    content: "\e900";
  }
  .holberton_school-icon-arrow_2:before {
    content: "\e901";
  }
  .holberton_school-icon-arrow_3:before {
    content: "\e902";
  }
  .holberton_school-icon-arrow_4:before {
    content: "\e903";
  }
  .holberton_school-icon-arrow_5:before {
    content: "\e904";
  }
  .holberton_school-icon-check:before {
    content: "\e905";
  }
  .holberton_school-icon-ic_bag:before {
    content: "\e906";
  }
  .holberton_school-icon-ic_cart:before {
    content: "\e907";
  }
  .holberton_school-icon-ic_facebook:before {
    content: "\e908";
  }
  .holberton_school-icon-ic_hearing:before {
    content: "\e909";
    color: #FF6565;
  }
  .holberton_school-icon-ic_instagram:before {
    content: "\e90a";
  }
  .holberton_school-icon-ic_laptop:before {
    content: "\e90b";
  }
  .holberton_school-icon-ic_money:before {
    content: "\e90c";
  }
  .holberton_school-icon-ic_music:before {
    content: "\e90d";
    color: #FF6565;
  }
  .holberton_school-icon-ic_sound:before {
    content: "\e90e";
    color: #FF6565;
  }
  .holberton_school-icon-ic_twitter:before {
    content: "\e90f";
  }
  .holberton_school-icon-ic_video:before {
    content: "\e910";
    color: #FF6565;
  }
  .holberton_school-icon-menu:before {
    content: "\e911";
  }
  .holberton_school-icon-search_1:before {
    content: "\e912";
  }
  .holberton_school-icon-search_2:before {
    content: "\e913";
  }
  .holberton_school-icon-star:before {
    content: "\e914";
  }
  